In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from ydata_profiling import ProfileReport

df = pd.read_csv("data/gold.csv")
pd.set_option('display.max_columns', None)

In [5]:
df_2010 = df[~df['InvoiceDate'].str.contains('2011')]
df_2011 = df[~df['InvoiceDate'].str.contains('2009|2010')]

In [6]:
df_2011

,Invoice,StockCode,Quantity,InvoiceDate,year,month,Price,Customer ID,Country,Total,total_facture,nombre_commande_client_années_2009,nombre_commande_client_années_2010,nombre_commande_client_années_2011,nombre_commande_client_années_annulées_2009,nombre_commande_client_années_annulées_2010,nombre_commande_client_années_annulées_2011,Continent,niveau_achat,Recency,Frequency,Frequency_reel,Montant
444383,539993,22386,10,2011-01-04,2011,1,1.95,13313.0,United Kingdom,19.50,307.30,3.0,7.0,5.0,1.0,2.0,0.0,United Kingdom,2.0,22,15.0,12.0,58556.28
444384,539993,21499,25,2011-01-04,2011,1,0.42,13313.0,United Kingdom,10.50,307.30,3.0,7.0,5.0,1.0,2.0,0.0,United Kingdom,2.0,22,15.0,12.0,58556.28
444385,539993,21498,25,2011-01-04,2011,1,0.42,13313.0,United Kingdom,10.50,307.30,3.0,7.0,5.0,1.0,2.0,0.0,United Kingdom,2.0,22,15.0,12.0,58556.28
444386,539993,22379,5,2011-01-04,2011,1,2.10,13313.0,United Kingdom,10.50,307.30,3.0,7.0,5.0,1.0,2.0,0.0,United Kingdom,2.0,22,15.0,12.0,58556.28
444387,539993,20718,10,2011-01-04,2011,1,1.25,13313.0,United Kingdom,12.50,307.30,3.0,7.0,5.0,1.0,2.0,0.0,United Kingdom,2.0,22,15.0,12.0,58556.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824342,581587,22899,6,2011-12-09,2011,12,2.10,12680.0,France,12.60,267.45,0.0,0.0,4.0,0.0,0.0,0.0,Europe,1.0,0,4.0,4.0,13193.46
824343,581587,23254,4,2011-12-09,2011,12,4.15,12680.0,France,16.60,267.45,0.0,0.0,4.0,0.0,0.0,0.0,Europe,1.0,0,4.0,4.0,13193.46
824344,581587,23255,4,2011-12-09,2011,12,4.15,12680.0,France,16.60,267.45,0.0,0.0,4.0,0.0,0.0,0.0,Europe,1.0,0,4.0,4.0,13193.46
824345,581587,22138,3,2011-12-09,2011,12,4.95,12680.0,France,14.85,267.45,0.0,0.0,4.0,0.0,0.0,0.0,Europe,1.0,0,4.0,4.0,13193.46
824346,581587,POST,1,2011-12-09,2011,12,18.00,12680.0,France,18.00,267.45,0.0,0.0,4.0,0.0,0.0,0.0,Europe,1.0,0,4.0,4.0,13193.46